<!DOCTYPE html>
<html>
  <head>
    <title> MVVM </title>
    <style type="text/css">
      div#container {
        text-align: center;
      }
      thead tr th {
        text-align: center;
      }
      .update-blog, .cancel {
        display: none;
      }
    </style>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <script type="text/javascript" src="js/externals/qunit.js"></script>
    <script type="text/javascript" src="js/externals/underscore-min.js"></script>
    <script type="text/javascript" src="js/externals/jquery.js"></script>
    <script type="text/javascript" src="js/externals/backbone-min.js"></script>
    <script type="text/javascript" src="js/script-mvvm.js"></script>

    <script type="text/template" class="user-options-template">
      <tr>
        <th>Author</th>
        <th>Title</th>
        <th>Url</th>
        <th>Action</th>
      </tr>
      <tr>
        <td><input type="text" class="form-control" data-bind='"val": "author"'></td>
        <td><input type="text" class="form-control" data-bind='"val": "title"'></td>
        <td><input type="text" class="form-control" data-bind='"val": "url"'></td>
        <td>
          <button class="btn btn-primary" data-bind='"ev": "click", "action": "add"'>Add</button>
        </td>
      </tr>
    </script>

    <script type="text/template" class="blog-list-template">
      <tr>
        <td><span class="author"><%= author %></span></td>
        <td><span class="title"><%= title %></span></td>
        <td><span class="url"><%= url %></span></td>
        <td>
          <button class="btn btn-warning" data-bind='"ev": "click", "action": "edit"'>Edit</button>
          <button class="btn btn-danger" data-bind='"ev": "click", "action": "delete"'>Delete</button>
        </td>
      </tr>
    </script>

    <script type="text/template" class="blog-editor-template">
      <tr>
        <td><input type="text" class="form-control" data-bind='"val": "author"'></td>
        <td><input type="text" class="form-control" data-bind='"val": "title"'></td>
        <td><input type="text" class="form-control" data-bind='"val": "url"'></td>
        <td>
          <button class="btn btn-success" data-bind='"ev": "click", "action": "update"'>Update</button>
          <button class="btn btn-danger" data-bind='"ev": "click", "action": "cancel"'>Cancel</button>
        </td>
      </tr>
    </script>

  </head>
  <body>
    <div id="container">
      <h1>An MVVM App</h1>
      <table class="table">
        <thead class="blogs-actions" data-bind='template: { "name": ".user-options-template" }'></thead>
        <tbody class="blogs-list" data-bind='template: { "name": ".blog-list-template" }'></tbody>
      </table>
    </div>
  </body>
</html>